@charset "UTF-8";
/*__           _   _               
/ _|         | | | |              
| |_ ___  __ _| |_| |__   ___ _ __ 
|  _/ _ \/ _` | __| '_ \ / _ \ '__|
| ||  __/ (_| | |_| | | |  __/ |   
|_| \___|\__,_|\__|_| |_|\___|_|  
*/
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
  color: #414142; }

h1 {
  font-size: 72px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

.title-and-info {
  margin-bottom: 36px; }
  .title-and-info h1, .title-and-info h2, .title-and-info h3, .title-and-info h4, .title-and-info h5, .title-and-info h6 {
    margin-bottom: 16px; }

hr {
  height: 1px;
  width: calc(100% - 96px);
  background: #edeeef;
  height: 1px;
  border: none;
  margin-bottom: 48px; }
  @media (max-width: 500px) {
    hr {
      width: calc(100% - 32px); } }

p, ul, ol {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 16px; }

ul p, ol p {
  padding: 0 0 !important; }
@media (max-width: 500px) {
  ul, ol {
    list-style-position: inside; } }

li {
  padding: 6px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

blockquote {
  font-style: italic;
  color: #777777;
  border-left: 3px solid #edeeef;
  max-width: 600px;
  margin: 36px 0; }
  blockquote blockquote {
    margin-left: 8px;
    margin-bottom: 0; }
    blockquote blockquote p {
      margin: 12px 0; }
  blockquote p {
    margin: 0; }

a {
  font-weight: bold;
  color: #ed1249;
  text-decoration: none; }

::selection {
  background: rgba(237, 18, 73, 0.5);
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: rgba(237, 18, 73, 0.5);
  /* Gecko Browsers */ }

pre, code {
  font-family: "Lucida Console", Monaco, monospace; }

.date, .info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  color: grey; }

body {
  overflow-wrap: break-word; }

section {
  margin: 46px 0; }

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; }
  .container p, .container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container span, .container ul, .container ol {
    padding: 0 48px; }
    @media (max-width: 500px) {
      .container p, .container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container span, .container ul, .container ol {
        padding: 0 16px; } }
  .container pre span {
    padding: 0 0; }
  .container article h1, .container article h2, .container article h3, .container article h4, .container article h5, .container article h6 {
    margin-top: 36px;
    margin-bottom: 12px; }
  .container article h1 {
    font-size: 36px; }
  .container article h2 {
    font-size: 24px; }
  .container article h3, .container article h4, .container article h5, .container article h6 {
    font-size: 18px; }

.info {
  padding: 0 48px; }
  .info span {
    padding: 0px; }
    .info span a {
      text-decoration: none;
      color: inherit;
      font-weight: inherit; }
      .info span a:hover {
        text-decoration: underline !important; }
  .info .divider:before {
    padding: 0 8px;
    content: "•"; }
  @media (max-width: 500px) {
    .info {
      padding: 0 16px; } }

#disqus_thread {
  padding: 24px 48px; }
  @media (max-width: 500px) {
    #disqus_thread {
      padding: 24px 16px; } }

.filename {
  display: block;
  background: #444c5b;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  bottom: -40px; }
  .filename div {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #c0c5ce;
    background: #2b303b;
    display: inline-block;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 0 48px;
    padding-top: 16px;
    padding-bottom: 6px; }
  @media (max-width: 500px) {
    .filename {
      border-radius: 0; }
      .filename div {
        padding-left: 48px;
        padding-right: 48px;
        border-radius: 0; } }

code {
  white-space: pre;
  white-space: pre-wrap;
  background: #edeef2;
  border-radius: 4px;
  padding: 2px 6px; }

pre {
  display: block;
  margin: 36px 0;
  padding: 36px 48px;
  border-radius: 4px;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9; }
  pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent; }
  @media (max-width: 500px) {
    pre {
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 0; } }

.header-image {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px; }

a.header-link {
  text-decoration: none;
  color: #414142;
  transition: 0.2s color ease; }
  a.header-link:hover {
    color: black; }

.container img {
  display: block;
  opacity: 0;
  border-radius: 4px;
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
  animation: 0.5s ease 0s normal forwards 1 fadein;
  margin: 36px 0; }

img.loaded {
  opacity: 1; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

footer {
  background: #f5f5f5;
  text-align: center;
  display: block;
  padding: 24px 48px; }
  @media (max-width: 500px) {
    footer {
      padding-left: 48px;
      padding-right: 48px; } }
