{% extends "index.html" %}

{% block content %}
  <div class="container">
    <section>
      <h2> Categories </h2>
    </section>
    <div class="posts">
      {% for category in categories %}
          <section>
            <a class='header-link' href="{{category.slug}}">
              <h4 class="title"> {{ category.name }} </h4>
            </a>
          </section>
        <hr/>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
