{% extends "index.html" %}

{% block content %}
  <div class="container">
    <section>
      <h2> {{ category.name }} </h2>
    </section>
    <div class="posts">
      {% for page in category.pages %}
          <section>
            <a class='header-link' href="{{ page.permalink }}">
              <h3 class="title"> {{ page.title }} </h3>
            </a>
            <p> 
              {{ page.content | safe | striptags | truncate }} 
            </p>
          </section>
        <hr/>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
